<%= simple_form_for(@todo_list) do |f| %>
<div class="col-xs-6">
  <% if @todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list.errors.count, "errores") %> no han dejado que se pueda guardar correctamente</h2>

      <ul>
      <% @todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :titulo%>
  <%= f.input :descripcion%>
  </div>
  <div class="col-xs-6">&nbsp</div>
  <div class="col-xs-1">&nbsp</div>
  <div class="col-xs-2 actions">
    <%= f.button :submit  %>
  </div>
<% end %>

