
<div>
  <div class="nospaces col-xs-12">
    <%= render 'info' %>
  </div>
  <div class="nospaces col-xs-12">
    <div class="nospaces col-xs-8"><h1>Mis Listas</h1></div>
    <div class="allright nospaces col-xs-4" style="padding:10% 0 0 0;"><%= link_to (image_tag "Icons/Add.png"), new_todo_list_path,:id=>"Add"%></div>
  </div>
    <div class="nospaces col-xs-12">
      <% @todo_lists.each do |todo_list| %>
        <div onclick="location.href='<%= todo_list_path(todo_list)%>';" style="cursor: pointer;" id="<%=dom_id(todo_list)%>" class="col-xs-12 well lista">
          <div class="info">
            <strong><%= todo_list.titulo %></strong>
            <span class="description allright"><% if todo_list.descripcion.length >40%>
                  <%= todo_list.descripcion[0,40]+ " ..." %>
              <%else%>
                  <%= todo_list.descripcion %> 
              <%end%></span>
          </div>
        </div>
      <% end %>
    </div>
</div>