<p id="notice"><%= notice %></p>

<h1>Mi Lista de Actividades</h1>
<div class="col-xs-10">
  <% @todo_lists.each do |todo_list| %>
    <div class="col-xs-2 well entrada">
      <strong><%= todo_list.titulo %></strong>
      <p>
        <% if todo_list.descripcion.length >45%>
            <%= todo_list.descripcion[0,45]+ " ..." %>
        <%else%>
            <%= todo_list.descripcion %> 
        <%end%>
      </p>
      <%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
<%= link_to 'Nueva tarea', new_todo_list_path, class:"btn btn-default" %>
