<div class="encabezado col-xs-9">
	<h1 class="list-title"><%= @todo_list.titulo %></h1>
	<strong><%= @todo_list.descripcion %></strong>
</div>
<div class="col-xs-3">
	<div>&nbsp</div>
	<div>&nbsp</div>
	<div>&nbsp</div>
	<div>&nbsp</div>
	<div>&nbsp</div>
	<div>
		<%= link_to 'Nueva Tarea', new_todo_list_todo_item_path(@todo_list.id),class:"btn btn-default" %>
	</div>
	<div>
		<%= link_to 'Editar lista', edit_todo_list_path(@todo_list) %> |
		<%= link_to 'Eliminar lista', @todo_list, method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta lista?' } %> 
	</div>
</div>
<table class="table">
	<thead>
	    <tr>
	    	<th><h3>Fecha</h3></th>
	      	<th><h3>Contenido</h3></th>
	      	<th></th>
	    </tr>
	</thead>
	<tbody>
	    <%@todo_list.todo_items.each do |item| %>
	    <tr id= "<%=dom_id(item)%>">
	        <td><%= item.created_at %></td>
	        <td><%= item.contenido %></td> 
	     	<td ><%= link_to 'Editar', edit_todo_list_todo_item_path(@todo_list,item)%> | <%= link_to 'Eliminar',todo_list_todo_item_path(@todo_list,item), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta tarea'}%> | 
	     	<%if item.completado_en.nil? %>
	     	<%= link_to 'Completar',todo_list_todo_item_complete_path(@todo_list,item), method: :patch%>
	     	<%else%>
	     		Completada
	     	<%end%></td>
	     </tr>
		<%end%> 
	</tbody>
</table>

