	<%= render 'info' %>
<div class="encabezado">
		<h1><%= @todo_list.titulo %></h1>
		<p><strong><%= @todo_list.descripcion %></strong></p>
			<p><%= link_to 'Editar lista', edit_todo_list_path(@todo_list) %> |
				<%= link_to 'Eliminar lista', @todo_list, method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta lista?' } %></p>
</div>
<div  class="col-xs-12">
	<div style="float:right">
		<%= link_to 'Nueva Tarea', new_todo_list_todo_item_path(@todo_list.id),class:"btn btn-default" %>
	</div>
</div>
<div class="col-xs-12">
<table  class="table">
	<thead>
	    <tr>
	    	<th><h3>Fecha</h3></th>
	      	<th><h3>Contenido</h3></th>
	      	<th></th>
	    </tr>
	</thead>
	<tbody>
	    <%@todo_list.todo_items.each do |item| %>
	    <tr id= "<%=dom_id(item)%>">
	        <td><p><%= item.created_at %></p> </td>
	        <td><p><%= item.contenido %></p>  </td> 
	     	<td ><p><%= link_to 'Editar', edit_todo_list_todo_item_path(@todo_list,item)%> | <%= link_to 'Eliminar',todo_list_todo_item_path(@todo_list,item), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta tarea'}%> | 
	     	<%if item.completado_en.nil? %>
	     	<%= link_to 'Completar',todo_list_todo_item_complete_path(@todo_list,item), method: :patch%>
	     	<%else%>
	     		Completada
	     	<%end%></p> </td>
	     </tr>
		<%end%> 
	</tbody>
</table>
</div>

