<p id="notice"><%= notice %></p>
<h2>Su nueva Tarea ha sido creada</h2>
<p>
  <strong>Titulo:</strong>
  <%= @todo_list.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @todo_list.descripcion %>
</p>

<%= link_to 'Editar', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Regresar', todo_lists_path %>
