<div class="encabezado col-xs-9">
	<h1 class="list-title"><%= @todo_list.titulo %></h1>
	<strong><%= @todo_list.descripcion %></strong>
</div>
<div class="col-xs-3">
	<div>&nbsp</div>
	<div>&nbsp</div>
	<div>&nbsp</div>
	<div>&nbsp</div>
	<div>&nbsp</div>
	<div>
		<%= link_to 'Nueva Tarea', new_todo_list_todo_item_path(@todo_list.id),class:"btn btn-default btn-lg" %>
	</div>
	<div>
		<%= link_to 'Editar lista', edit_todo_list_path(@todo_list) %> |
		<%= link_to 'Eliminar lista', @todo_list, method: :delete, data: { confirm: 'Are you sure?' } %> 
	</div>
</div>
<table class="table table-hover">
	<thead>
	    <tr>
	    	<th><h3>Fecha</h3></th>
	      	<th><h3>Contenido</h3></th>
	      	<th></th>
	    </tr>
	</thead>
	<tbody>
	    <%@todo_list.todo_items.each do |item| %>
	    <tr>
	        <td><%= select_date(item.created_at, date_separator: '/') %></td>
	        <td><%= item.contenido %></td>
	     </tr>
		<%end%> 
	</tbody>
</table>

