<!DOCTYPE html>
<html>
<head>
  <title>Odot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="g-wrap">
	<div class="s-wrap">
		<div class="container">
			<% flash.each do |tipo,mensaje| %>
				<div class="alert <%= flash_class(tipo.to_s) %> alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <%= mensaje %>
				</div>
			<%end%>
			<%= yield %>
		</div>
	</div>
</body>
</html>
